*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.poppins{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.flex{
    display: flex;
    justify-content: space-between;
}
.color-black{
    color: #3A3A3A;
}
.margin-bottom{
    margin-bottom: 20px;
}
/* main styles */
.header{
    max-width: 1440px;
    margin: 20px auto;
}
.navbar{
    max-width: 1140px;
    /* border: 1px solid; */
    margin: 30px auto;
}
.navbar ul li a{
    text-decoration: none;
    color: #3A3A3A;
}
.navbar ul{
    gap: 35px;
}
.navbar ul li {
    list-style:  none;
}
.header-all{
    max-width: 1140px;
    margin: 80px auto;
    align-items: center;
}
.header-details{
    max-width: 520px;
}
.header-details button{
     max-width: 200px;
     color: #FFFFFF;
     padding: 10px 24px;
     background-color: #E02C6D;
     border: none;
     border-radius: 45px;
     align-items: center;
     font-weight: bolder;
}

.header-img{
    max-width: 440px;
    background: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* border: 1px solid; */
    text-align: center;
}
.header-img img{
    width: 100%;
    
}
.section1{
    /* border: 1px solid; */
    max-width: 1140px;
    margin:20px auto;
    display: flex;
    justify-content: center;
    gap: 55px;
    flex-wrap: wrap;
    /* text-align: center; */
}
.section1 img{
    max-width: 100px;
    width: 100%;
}
.section2{
    max-width: 1000px;
    margin: 60px auto;
    text-align: center;
}
.sec2-cards{
    margin: 10px auto;
      display: grid;
      grid-template-columns:  repeat(3,1.6fr);
      gap: 15px;
}
.sec2-card{
    max-width: 329px;
    text-align: left;
    box-shadow: 0px 0px 20px rgb(200, 193, 193);
    border-radius: 10px;
    padding: 5px;
}
.sec2-card img{
    width: 100%;
}

.sec2-btn{
    text-align: right;
}
.sec2-btn button{
    border: none;
    color: #E02C6D;
    background-color: #FFFFFF;
    font-weight: bolder;
}
.section3{
    max-width: 1040px;
    margin: 40px auto;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}
.sec3-img{
    max-width: 400px;
    /* width: 100%; */
}
.sec3-img img{
   width: 100%; 
}
.sec3-details{
    max-width: 500px;
}
.sec3-details p{
    margin-top: 20px;
}
.sec3-details button{
      background-color: #E02C6D;
      border: none;
      color: #FFFFFF;
      padding: 10px 40px;
      margin-top: 30px;
}
  .footer{
    max-width: 1440px;
    margin: 0px auto;
    background-color: rgb(5, 5, 43);
    padding-top:50px ;
    padding-bottom:50px ;
  }
.footer-elements{
    color: #FFFFFF;
    text-align: center;
    max-width: 400px;
    margin: 20px auto;
}
/* code for mobile device */
@media screen and (max-width:567px){
    .header{
        padding: 10px;
    }
    .navbar{
        flex-direction: column;
        /* text-align: center; */
    }
    .navbar h3{
        text-align: center;
        margin-bottom: 10px;
    }
    .navbar ul{
        gap: 15px;
        /* flex-direction: column; */
    }
    .navbar ul li{
        text-align: center;
    }
    .header-all{
        flex-direction: column-reverse;
        gap: 30px;
        text-align: center;
        padding: 5px;
    }
    .section1{
       /* border: 1px solid; */
        padding: 30px;
        justify-content: center;
        /* display: grid;
        gap: 35px;
        grid-template-columns: repeat(4,1fr); */
    }
    
    .sec2-cards{
        /* text-align: center; */
          padding: 30px;
        margin: 10px auto;
        grid-template-columns: repeat(1,1fr);
    }
    .sec2-card{
        margin: 10px auto;
    }
  .section3{
    flex-direction: column-reverse;
    padding: 10px;
    text-align: center;
  }
  
    .footer{
        margin: 0 auto;
        text-align: center;
    }
 
}